
<div class="intro-container">

    <div class="intro-div">
    <h1>About Page</h1>
    </div>
    
    
    <div class="intro-card">
    <div class="purpose-div">
            <p class="purpose">Purpose</p>
    
            <p class="notes">The purpose of this application is to create an easy solution to quickly solve simple mathmatical questions.</p>
            
    
    
    
    </div>
    
    
    <div class="welcome-div">
        <p class="welcome">Learning</p>

        <p class="notes">I learned Angular.Js and TypeScript in less than a week and created this calculator application for HedgeServ.</p>
        
    
    </div>
    </div>
    
    
    
    </div>