


.logo {
    width: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
}
nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}





















/* li, a, button {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}




.navbar-nav {
    list-style: none;
    text-align: center;
}

.navbar-nav li {
    display: inline-block;
    padding: 0 13px;
}

.navbar-nav a,li {
    transition: all 0.3s ease 0s;
}

.navbar-nav a,button,li::hover {
    color: rgb(81, 255, 174);
    background-color: red;
}



@media screen and (max-width: 1000px) {

    li, a, button {
        font-size: 20px;
     
    }

} */



