.navbar {
    /* background: blue;
    height: 100px;
    width: 20%;
    left: 0;
    z-index: 10000; */

    width: 7rem;
    height: 100vh;
    position: fixed;
    background: red;
}



.nav-item:last-child {
    margin-top: auto;
}