.container {
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4;


      justify-content: center;
      align-items: center;
      display: flex;
    
  }
  
  
  .calculator {
    box-shadow: 0 0 25px 0 rgb(5, 198, 252);
    border-radius: 50px 50px 10px 10px;
    overflow: hidden;
    height: 100vh;
  }
  
  .calculator_display {
    background-color: rgb(4, 34, 58);
    color: var(--grey-050);
    width: 600px;
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: 140px;
  }
  
  .calculator_keys {
    background: black;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
      ". . . ."
      "seven eight nine equal"
      "four five six equal"
      "one two three equal"
      "zero decimal clear back";
  }
  
  .calculator__keys,
  button {
    border-radius: 1px;
    font-size: 60px;
  
    color: #fff;
    text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
  
  [data-key="1"] {
    grid-area: one;
  }
  
  [data-key="2"] {
    grid-area: two;
  }
  
  [data-key="3"] {
    grid-area: three;
  }
  
  [data-key="4"] {
    grid-area: four;
  }
  
  [data-key="5"] {
    grid-area: five;
  }
  
  [data-key="6"] {
    grid-area: six;
  }
  
  [data-key="7"] {
    grid-area: seven;
  }
  
  [data-key="8"] {
    grid-area: eight;
  }
  
  [data-key="9"] {
    grid-area: nine;
  }
  
  [data-key="0"] {
    grid-area: zero;
  }
  .decimal {
    grid-area: decimal;
  }
  
  .back {
    grid-area: back;
  }
  .clear {
    grid-area: clear;
  }
  
  [data-key="equal"] {
    grid-area: equal;
    background-color: orangered;
  }
  
  [data-key="equal"]:active {
    background-color: #fff;
  }
  
  [data-type="operator"] {
    background: rgb(45, 179, 145);
    line-height: 50px;
  }
  
  [data-type="number"],
  [data-type="clear"],
  [data-type="back"] 
  {
    background: rgb(3, 48, 78);
  }
  
  [data-type="operator"]:active,
  [data-type="number"]:active,
  [data-type="clear"]:active {
    background: #fff;
  }
  
  [data-state="selected"] {
    background: grey;
  }
  button {
    padding: 15px 15px;
    line-height: 80px;
  }
  