
<body>
<div class="main-container">

    <app-header></app-header>

    
    <div class="container">
        <div class="calculator">
        
            <input class="calculator_display" [(ngModel)] = "toshow" type="text">  
     
          
          <div class="calculator_keys">

            <!--
            buttons have data-key for css grid and input
            data-type: used for css property and input
            -->
            <button (click)="writetoinput('+')" data-key="plus" data-type="operator">+</button>
            <button (click)="writetoinput('-')" data-key="minus" data-type="operator">-</button>
            <button (click)="writetoinput('x')" data-key="times" data-type="operator">&times;</button>
            <button (click)="writetoinput('÷')" data-key="divide" data-type="operator">÷</button>
            <button (click)="writetoinput('1')" class="one" data-key="1" data-type="number">1</button>
            <button  (click)="writetoinput('2')" class="two"data-key="2" data-type="number">2</button>
            <button  (click)="writetoinput('3')" class="three"data-key="3" data-type="number">3</button>
            <button  (click)="writetoinput('4')" class="four"data-key="4" data-type="number">4</button>
            <button  (click)="writetoinput('5')" class="five"data-key="5" data-type="number">5</button>
            <button  (click)="writetoinput('6')" class="six"data-key="6" data-type="number">6</button>
            <button  (click)="writetoinput('7')" class="seven"data-key="7" data-type="number">7</button>
            <button  (click)="writetoinput('8')" class="eight"data-key="8" data-type="number">8</button>
            <button  (click)="writetoinput('9')" class="nine"data-key="9" data-type="number">9</button>
            <button  (click)="writetoinput('0')" class="zero"data-key="0" data-type="number">0</button>
            <button (click)="writetoinput('.')" class="decimal" data-type="number">.</button>
            <button class="clear" data-type="clear">C</button>
            <button  data-key="equal" data-type="equal">=</button>


          </div>
        </div>
      </div>

    <!-- <div class="calc">
        <input type="text">
        
        <div class="buttons">

            <div class="button-numbers">

                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>7</button>
                <button>8</button>
                <button>9</button>
                <button>0</button>


                <div class="button-other">
                    <button>.</button>
                    <button>Back</button>
                </div>


                <div class="button-modules">
                    <button>C</button>
                    <button>=</button>
                </div>


                <div class="button-operators">
                    <button>+</button>
                    <button>-</button>
                    <button>x</button>
                    <button>/</button>
                </div>

            


            </div> 

        
        </div>

    </div> -->

</div>
</body>
