
<div class="intro-container">

<div class="intro-div">
<h1>Welcome HedgeServ!</h1>
</div>


<div class="intro-card">
<div class="instructions-div">
        <p class="instructions">Instructions</p>

        <p class="notes">Check out these examples!</p>
        

            <div class="notes">
                Examples: 
                <li>Addition: (2 + 2)</li>
                <li>Substraction: (32 - 2)</li> 
                <li>Multiplication: (38 * 1337)</li> 
                <li>Division: (16 / 3)</li> 

        </div>
</div>


<div class="welcome-div">

    <p class="welcome">Welcome</p>

    <p class="notes">Hello! If you hover your mouse in the top section of this browser page,
        you will find the Navigation Bar! Feel free to look around those links within the Nav! And please check out the 
        Calculator Application. It is currently still in development; the calculator is able to solve simple mathmatical problems! This application is responsive to all of Google Chrome's browser devices</p>
    

</div>
</div>



</div>